
<div class="auth-container">
    <mat-card class="auth-card">
<div>Register</div>
<form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
    <input matInput matInput type="text" id="name" formControlName="name" required>
    @if (user['name']&&user['name'].errors && user['name'].touched && user['name'].errors["required"]) {
       <mat-error>name is required</mat-error>
    }

  </mat-form-field>  
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput id="email" formControlName="email" required>
    @if (user['email']&&user['email'].errors && user['email'].touched &&user['email'].errors["required"]) {
        <mat-error>email is required</mat-error>
    }
</mat-form-field>  


<mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput id="password" formControlName="password" required>
    @if (user['password']&&user['password'].errors &&user['password'].touched) {
        @if(user["password"].errors["required"]) {
            <mat-error>password is required</mat-error>
            }
            @if(user["password"].errors["minlength"]) {
            <mat-error>password must be at least 4 characters</mat-error>
            }
            @if(user["password"].errors["maxlength"]) {
            <mat-error>password must be at most 8 characters</mat-error>
            
        }
    }
</mat-form-field>
    
<mat-form-field appearance="outline" class="full-width">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option value="admin">admin</mat-option>
      <mat-option value="teacher">teacher</mat-option>
      <mat-option value="student">student</mat-option>
    </mat-select>
    @if (user['role']&&user['role'].errors &&user['role'].touched &&user['role'].errors["required"]){
    <mat-error>
       role is required
    </mat-error>
    }
  </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="userRegisterForm.invalid">Submit</button>
</form>
</mat-card>
</div>